<section class="section">
  <h1 class="title">
    Hello
  </h1>
  <p class="subtitle">
    World
  </p>
  <p>
    My first website with <strong>Bulma</strong>!
  </p>
</section>

{{model}}

<ul>
  {{#each model as |hello|}}
    <li>{{hello.hello}}</li>
  {{/each}}
</ul>

{{t 'hello.world'}}