<h1 class="title">Bets</h1>

<div class="columns is-multiline">
  {{#each model as |bet|}}
    <div class="column is-one-third-tablet is-one-quarter-widescreen">
      {{#bet-card bet=bet hideUser=true}}
      {{/bet-card}}
    </div>
  {{/each}}
</div>

{{outlet}}
