<div class="columns is-desktop">
  <div class="column is-half">
    <h1 class="title is-hidden-desktop">{{t 'app.signIn'}}</h1>
    <form>
      <div class="field">
        <div class="control has-icons-left">
          {{input type="email" placeholder=(t 'signIn.email.placeholder')
                  class=(concat 'input ' (if (v-get model 'email' 'isInvalid') 'is-danger'))
                  value=(mut (get model 'email'))}}
          <span class="icon is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control has-icons-left">
          {{input type="password" placeholder=(t 'signIn.password.placeholder')
                  class=(concat 'input ' (if (v-get model 'password' 'isInvalid') 'is-danger'))
                  value=(mut (get model 'password'))}}
          <span class="icon is-left">
            <i class="fa fa-unlock"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control">
          {{#submit-button model=model submit=(action 'submit')}}
            {{t 'app.signIn'}}
          {{/submit-button}}
        </div>
      </div>
    </form>
  </div>
</div>
