<div class="tooltip" data-tooltip="{{if teamId (t (concat 'team.name.' teamId)) (t 'team.noCountry')}}">
  <span class="icon">
    <img src="/img/flags/{{flag}}.svg" style="height: 25px">
  </span>
</div>
