<section class="section">
  <h1 class="title">
    {{t 'me.community.title'}}
  </h1>
  <p class="subtitle">
    {{t 'me.community.subtitle'}}
  </p>

  <p>
    Create a community here
  </p>
</section>

{{outlet}}